.container{
    width:200px;
    height: 200px;
    border: 3px solid rgb(255, 162, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    flex: 1;
    justify-content: space-evenly;
    

}
.box{
    width: 50px;
    height: 50px;
    border: 2px solid sandybrown;
}